@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F1B26;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
}

@keyframes blob {
  0%, 100% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(30px, -50px);
  }
  66% {
    transform: translate(-20px, 20px);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animation-delay-6000 {
  animation-delay: 6s;
}