@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0F1B26;
  --foreground: #171717;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F1B26;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Times New Roman', Times, serif;
}

@font-face {
  font-family: Oswald;
  font-style: normal;
  font-weight: 300 800;
  font-display: swap;
  src: url("/fonts/Oswald.woff2") format("woff2");
}
